@import "color";

*{
    color: #626161;
}

// Nosotros

.nosotros_foto {
    width: 100%;
}

.titulo {
    font-size: 60px;
    margin-left: 20px;
    &:hover {
        color: map-get($paleta, colorS);
    }
}

.parrafo_nosotros {
    margin: 50px;
}

// Servicios

.card-img-top {
    width: 260px;
    height: 260px;
}

// contacto

.datos_contacto {
    background-color: map-get($paleta, colorP);
    padding: 50px;
    h4 { 
    color: white;
    line-height: revert;
    }
}

// SASS II ------ map-get

$cuerpo: (
 colore: #626161,
 tFuente: 15px,
 tipografia: arial,
);

.parrafo_nosotros {
    color: map-get($cuerpo, colore);
    font-size: map-get($cuerpo, tFuente);
    font-family: map-get($cuerpo, tipografia);
}

.caja {
   background-color: map-get($paleta, colorT);
   text-align: center;
   border: solid white 7px;
   border-radius: 5px;
   padding: 30px;
   h3 {
       color: bisque;
   }
   h2 {
       color: white;
   }

}

.caja-sec {
    @extend .caja;
    background-color: map-get($paleta, colorP)
}

.caja-ter {
    @extend .caja;
}

@mixin btn {
    background-color: map-get($paleta, colorS);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2px;
}

.boton {
    @include btn;
}
