
@import "color";

.footer-legales {
    background-color: map-get($paleta, colorP);
    text-align: center;
    padding: 20px;
}

.redes_ubicacion {
    display: flex;
    justify-content: center;
   }

.redes {
    color: map-get($paleta, colorP);
    margin: 15px;
}

