// Partial (parshall) 


.img_logo {
    width: 100px;
    margin: 20px;
}

.nav-link {
    font-weight: bold;
    &:hover {
        background-color: $colorP;
    }
}


@media (min-width: 992px) {
    .navbar-collapse {
    justify-content: flex-end;
    padding-top: 30px;
    }
}